absl-py==0.8.1
beautifulsoup4==4.8.1
bs4==0.0.1
fastapi==0.109.1
Flask==2.3.2
joblib==1.2.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lxml==4.9.1
nltk>=3.4.5
numpy==1.22.0
pandas==0.24.2
protobuf==3.18.3
pyasn1==0.4.8
python-dateutil==2.8.0
pytorch-transformers==1.0.0
pytz==2019.3
PyYAML==5.4
regex==2019.11.1
requests==2.31.0
scikit-learn==0.21.2
scipy==1.10.0
sklearn==0.0
spacy==2.2.3
starlette==0.36.2
tensorboard==2.0.2
tensorflow>=2.4.0
torch==1.13.1
tqdm==4.32.2
urllib3==1.26.18
uvicorn==0.11.7
